<h3>Registration based on your Qprofile</h3>



<% if @user_info['is_org_member'] %>

<%= form_tag ('/account/register') do -%>
              <%= hidden_field_tag('user[login]', value=@user_info['sub']) %><br />
    First name: <%= text_field_tag('user[firstname]', value=@user_info['first_name']) %><br />
    Last name : <%= text_field_tag('user[lastname]', value=@user_info['last_name']) %><br />
    Email: <%= text_field_tag('user[mail]', value=@user_info['email']) %><br />
    <%= submit_tag 'Save' %>
  <% end -%>
  
<% else %>
    
<b>  Missing Qprofile-permission. Maybe you are not registered as Org-member, or your Org-email-address is not yet validated?</b>

<% end %>

 
